.about__title {
  margin: 0;
  margin-top: 32px;
}

.about__list {
  @include list;
  @include font(17px, 20px, bold);
}

.about__item {
  position: relative;
  margin-top: 30px;
  padding-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 37px;
    background: no-repeat center;
  }

  &--flower::before {
    background-image: url("../img/decor/features/icon-feature-flower.svg");
  }

  &--money::before {
    background-image: url("../img/decor/features/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/decor/features/icon-feature-heart.svg");
  }

  &--ball::before {
    background-image: url("../img/decor/features/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/decor/features/icon-feature-rocket.svg");
  }

  &--gift::before {
    background-image: url("../img/decor/features/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about__title {
    margin-top: 57px;
  }

  .about__list {
    @include font(20px, 22px, bold);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 462px;
    align-items: stretch;
  }

  .about__item {
    width: 295px;
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-top: 68px;
    margin-left: 175px;
  }

  .about__list {
    margin-left: 175px;
    margin-right: 230px;
    align-items: flex-start;
  }
}
