.about__title {
  margin: 0;
  margin-top: 28px;
  margin-left: -2px;
}

.about__list {
  @include list;
  @include font(17px, 20px, bold);
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.about__item {
  position: relative;
  width: 250px;
  margin-top: 28px;
  padding-top: 55px;
  order: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 55px;
    height: 37px;
    background: no-repeat center;
  }

  &--flower::before {
    background-image: url("../img/decor/features/icon-feature-flower.svg");
  }

  &--money::before {
    top: -4px;
    background-image: url("../img/decor/features/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/decor/features/icon-feature-heart.svg");
  }

  &--ball::before {
    top: 2px;
    left: -7px;
    background-image: url("../img/decor/features/icon-feature-ball.svg");
  }

  &--rocket::before {
    top: -3px;
    left: -5px;
    background-image: url("../img/decor/features/icon-feature-rocket.svg");
  }

  &--gift::before {
    left: -8px;
    background-image: url("../img/decor/features/icon-feature-gift.svg");
  }

  &--top {
    order:0;
  }
}

@media (min-width: $tablet-width) {
  .about__title {
    margin-top: 51px;
    margin-left: -3px;
  }

  .about__list {
    @include font(20px, 22px, bold);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
  }

  .about__item {
    width: 295px;
    margin-top: 55px;
    order: 1;

    &:nth-child(2n + 1) {
      margin-right: 5.2vw;
    }
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-top: 60px;
    margin-left: $index-left-margin - 4px;
  }

  .about__list {
    margin-left: $index-left-margin;
    margin-right: 175px;
    align-items: flex-start;
  }

  .about__item {
    width: 350px;
    margin-top: 54px;

    &:nth-child(2n + 1) {
      margin-right: 0;
    }
  }
}
