.catalog-list {
  @include list;
  @include font(19px, 24px, bold);
}

.catalog-list__item {
  &--interior {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
  }
}

.catalog-list__link {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  color: #ffffff;
  padding: 27px 0 28px $container-padding--mobile;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 62px;
    top: 23px;
    right: 8.44vw;
    opacity: 0.5;
  }

  &--interior::after {
    background: url("../img/decor/icon-interior.svg") no-repeat center;
  }

  &--toys::after {
    background: url("../img/decor/icon-toy.svg") no-repeat center;
  }

  /*&:hover,
  &:focus {
    padding-bottom: 33px;
  }*/

  &--interior:hover,
  &--interior:focus {
    background-color: #59d5bc;
  }

  &--toys:hover,
  &--toys:focus {
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-list {
    @include font(20px, 30px, bold);
    display: flex;
    padding: 0 $container-padding--tablet;
  }

  .catalog-list__item {
    width: 50%;
  }

  .catalog-list__link {
    padding: 29px 0 29px 35px;

    &::after {
      top: 30px;
      right: 26px;
    }

    &--toys::after {
      right: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    padding: 0 $container-padding--desktop;
  }

  .catalog-list__link {
    &--toys::after {
      right: 35px;
    }
  }
}
