.contacts__container {
  min-width: 320px;
  margin: 0 auto;
}

.contacts__title {
  @include font(18px, 30px, 700);
  margin: 0;
  margin-top: 36px;
}

.contacts__info {
  display: table;
  margin: 27px auto 0;
  color: #444444;
  border-collapse: collapse;
}

.contacts__item {
  display: table-row;
  height: 60px;
}

.contacts__text {
  display: table-cell;
  vertical-align: top;
  width: 76px;
}

.contacts__email {
  display: inline-block;
  color: #444444;
  line-height: 24px;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-image {
  display: block;
  margin: 36px auto 0;
}

.contacts__button {
  display: block;
  margin: 38px auto 0;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    width: $tablet-width;
  }

  .contacts__title {
    @include font(43px, 50px, 700);
    position: relative;
    margin-top: 56px;
    margin-left: -4px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 2px;
      width: 47px;
      height: 81px;
      background: url("../img/decor/icon-flag.svg") no-repeat center;
    }
  }

  .contacts__info {
    display: flex;
    margin-top: 32px;
  }

  .contacts__item {
    display: inline-block;
    height: auto;
  }

  .contacts__text {
    display: inline-block;
    width: auto;
    margin-right: 20px;
  }

  .contacts__email {
    margin-right: 32px;
    line-height: 28px;
  }

  .contacts__map-image {
    margin: 40px auto 0;
  }

  .contacts__button {
    width: 226px;
    margin: 55px auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    width: $desktop-width;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 105px;
  }

  .contacts__title {
    @include font(53px, 57px, 700);
    margin-top: 143px;
    margin-left: $index-left-margin - 4px;

    &::after {
      top: -9px;
      left: -108px;
    }
  }

  .contacts__info {
    display: table;
    margin-left: $index-left-margin;
    margin-top: 48px;
  }

  .contacts__item {
    display: table-row;
    height: 60px;
  }

  .contacts__text {
    display: table-cell;
    width: 76px;
  }

  .contacts__map-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: $container-padding--desktop;
  }

  .contacts__map-image {
    margin-top: 71px;
  }

  .contacts__button {
    margin: 78px $index-left-margin 0;
  }
}
