.reviews-toggles {
  width: 260px;
  margin: 29px auto 0;
}

.reviews-toggles__toggle {
  width: 130px;
  height: 52px;
  background: transparent no-repeat center;
  border: solid 1px #ececec;
  cursor: pointer;

  &--prev {
    background-image: url("../img/decor/icon-left-arrow.svg");
  }

  &--next {
    margin-left: -5px;
    background-image: url("../img/decor/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews-toggles {
    position: absolute;
    right: 34px;
    bottom: 144px;
    width: auto;
  }

  .reviews-toggles__toggle {
    border: none;
    width: 50px;
    height: 26px;
    margin-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .reviews-toggles {
    right: 32px;
    bottom: 192px;
  }
}
