.button {
  @include font(17px, 20px, bold);
  display: inline-block;
  width: 260px;
  padding: 16px 0;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: solid 2px #444444;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(#ffffff, 0.3%)
  }
}
