.container {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $container-padding--mobile;

  &--no-padding {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
    padding: 0 $container-padding--tablet;

    &--no-padding {
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 $container-padding--desktop;

    &--no-padding {
      padding: 0;
    }
  }
}
