.goods__list {
  @include list;
}

.goods__item {
  display: block;
  width: 260px;
  margin: 29px auto 0;
}

@media (min-width: $tablet-width) {
  .goods__list {
    margin-top: 79px;
  }

  .goods__item {
    margin-top: 54px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .goods__list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
}
