.production {
  margin-top: 30px;
  border: solid 1px #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  @include font(17px, 24px, 700);
  position: relative;
  margin: 0;
  padding: 26px 0 20px 91px;
  border-bottom: none;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 34px;
    width: 32px;
    height: 22px;
    background: url("../img/decor/icon-video.svg") no-repeat center;
  }
}

.production__text {
  @include font(13px, 24px);
  margin: 29px 40px 0 34px;
}

.production__button {
  display: block;
  width: 192px;
  margin: 24px auto 33px;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__title {
    order: 1;
    font-size: 20px;
    padding: 41px 0 0 99px;

    &::before {
      top: 40px;
      left: 42px;
    }
  }

  .production__text {
    order: 1;
    font-size: 15px;
    margin-top: 32px;
  }

  .production__button {
    order: 1;
    width: calc(100% - 84px);
    margin: 33px auto 46px;
  }
}
