.video {
  position: relative;
  margin-left: -1px;
}

.video__cover {
  display: block;
  width: 260px;
  height: 150px;
  margin: 0 auto;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  background: url("../../img/decor/icon-play.svg") no-repeat center;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video {
    order: 0;
  }

  .video__cover {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__cover {
    width: 682px;
    height: 455px;
  }
}
