.order-form__footnote {
  @include font(14px, 16px);
  margin: 0;
  margin-top: 7px;
}

.order-form__button {
  background: transparent;
  width: 100%;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .order-form__container {
    background-color: #f1f1f1;

    &--color {
      padding-right: 30px;
    }
  }

  .order-form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
  }

  .order-form__footnote {
    @include font(17px, 30px, 400);
    align-self: flex-start;
  }

  .order-form__button {
    width: 230px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__footer {
    margin-top: 0;
  }

  .order-form__footnote {
    margin-right: $form-desktop-margin;
  }

  .order-form__button {
    margin-left: $form-desktop-margin;
  }
}
