.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__delivery {
  @include font(15px, 24px);
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    &::before {
      content: "";
      flex-grow: 1;
      width: 48.063%;
      height: 88px;
      background-color: #ffffff;
      border-bottom: 1px solid #ededed;
    }
  }

  .main-nav__delivery {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: $container-padding--tablet;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    &::before {
      display: none;
    }
  }

  .main-nav__delivery {
    right: $container-padding--desktop;
  }
}
