.main-nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 14px;
  background: transparent url("../img/decor/menu/icon-menu-open.svg") no-repeat center;
  border: none;
  padding: 40px 31px;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav-toggle {
    display: none;
  }
}
