.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffffff 88px, #ededed 88px, #ededed 89px, #f9f9f9 89px);

  &--inner {
    background-image: linear-gradient(#ffffff 88px, #ededed 88px, #ededed 89px, #f1f1f1 89px);
  }
}

.page-header__top {
  position: relative;
  background-color: #ffffff;
}

.page-header__logo-image {
  display: block;
  margin: 22px auto;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-header__top {
    position: absolute;
    top: 22px;
    left: $container-padding--tablet;
    z-index: 10;
  }

  .page-header__logo-image {
    margin: 0;
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__top {
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
