$tablet-width: 768px;
$desktop-width: 1150px;
$container-padding--mobile: 9.375vw;
$container-padding--tablet: 6.51vw;
$container-padding--desktop: 50px;
$index-left-margin: 175px;
$form-tablet-margin: 167px;
$form-desktop-margin: 175px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
