.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__link {
  @include font(19px, 18px, bold);
  position: relative;
  color: #000000;
  padding-right: 56px;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 1px;
    width: 28px;
    height: 34px;
    background: url("../img/decor/logo/logo-htmlacademy.svg") no-repeat center;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/decor/logo/logo-htmlacademy-hover.svg");
  }
}
